body {
	background-color:white;
	margin:20px;
}

h1 {
	color:black;
	text-align:center;
	text-decoration:underline;
}

p {
	color:black;
	font-size:30px;
	font-family:georgia;
}

img {
	width:100%;
}
